h1  {  color:  #a4133c;
}

body{
  background-color:  #ff8fa3;
}


#thisIsAnId{
  .merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
